<header>
  <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark"> -->

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a routerLink="" class="navbar-brand"> HOME</a></div>

    <ul class="navbar-nav nav-pills">
      <li>
        <a
          *ngIf="this.basicAuth.getAuthenticatedUser()"
          routerLink="/welcome/shrawin"
          class="nav-link"
          >welcome</a
        >
      </li>
      <li>
        <a
          *ngIf="this.basicAuth.getAuthenticatedUser()"
          routerLink="/todos"
          class="nav-link"
          >Todos</a
        >
      </li>
      <li>
        <!-- <a routerLink="/corona" class="nav-link">Corona Update</a> -->
        <!--  <a class="nav-link" href="http://localhost:80/corona" target="blank" -->
        <a class="nav-link" routerLink="/corona"> Corona Update</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a
          *ngIf="!this.basicAuth.getAuthenticatedUser()"
          routerLink="/login"
          class="nav-link"
          >Login</a
        >
      </li>
      <li>
        <a
          *ngIf="this.basicAuth.getAuthenticatedUser()"
          routerLink="/logout"
          class="nav-link"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</header>
